$utilities: map-merge(
  $utilities, (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      ( responsive: true ),
    ),
  )
);
.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}