.tag-title{
    background-color: #E51300;
    color: #FCFCFD;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    padding: 4px 8px;
    vertical-align: middle;
}

.form-check-label-sm {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

.form-check-label-sm {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
  .form-check-input.mt-0 {
    margin-top: 0; /* 讓 checkbox 與文字垂直置中 */
  }